/*Importing Nunito font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Adding font*/
html {
  font-family: "Nunito";
  font-size: 12px;
}

/*Keeps the content in the center of the window and makes the background black*/
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(26, 26, 27);
}
/*The max width will remain 1200px when we work with larger devices*/
.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/*The title Recipe App is formatted*/
.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}
/*Search bar formating*/
form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
}
input {
  width: 90%;/*So there will be left 10% for an icon*/
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: rgb(223, 223, 223);
  display: inline-block;
}
/*Icon formating*/
form ion-icon {
  width: 8%;
  font-size: 3rem;
  margin-bottom: -8px;
  color: rgb(75, 75, 75);
  display: inline-block;
}
/*min value of a item will be 300px with one col. If we resize the width to more than 300px the cols will become more*/
.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
/*item formatting*/
.item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}
/*Item text format */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Title of the text on every item*/
.search-result .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}
/*Button format on item*/
.view-btn {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404041;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}
/*Calories format on item*/
.item-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
/*Last touch on the style of the brand name and the search form*/
.container.initial .brand {
  font-size: 7rem;
}
.container.initial form {
  max-width: 800px;
}
.container.initial form input {
  padding: 20px;
  font-size: 3rem;
}

/*Make it responsive e.g. looking good on phones, iPads*/
@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .container.initial .brand {
    font-size: 4rem;
  }

  /*Make the form responsive*/
  .container.initial form {
    max-width: 500px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  color: var(--color-4);
  text-decoration: none;
}
/*Small show more button styling*/
.small-btn {
  background-color: #404041; /* Black background */
  border: none; /* Remove border */
  color: whitesmoke; /* Whitesmoke text */
  padding: 12px 12px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 1.4 rem;
  margin: 4px 2px;
  cursor: pointer; /* Mouse pointer on hover */
  transition-duration: 0.4s; /* Transition effects */
  border-radius: 4px; /* Rounded corners */
}
.hidden {
  display: none;
}